<div class="center">
  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag artist.image.url %>
          <div class="caption">
            <%= link_to artist do %>
              <h1><%= artist.name %></h1>
            <% end %>
            <p>Lorem ipsum dolor sit amet.</p>
            <p><%= artist.price %>  SEK</p>
            <%= link_to 'Show', artist, class: "btn btn-link" %>
            <%= link_to 'Edit', edit_artist_path(artist), class: "btn btn-link" %>
            <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<br>

<%= link_to 'New Artist', new_artist_path, class: "btn btn-link" %>
