<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @artist.image.url %><br>
			<div class="container" style="width:80%">
				<p><%= @artist.description %><p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h1><%= @artist.name %></h1>
		<p><%=  @artist.price %></p>
	</div>
</div>


<%= link_to 'Edit', edit_artist_path(@artist), class: "btn btn-link" %> |
<%= link_to 'Back', artists_path, class: "btn btn-link" %>
