@import "bootstrap-sprockets";
@import "bootstrap";

/*.thumbnail p {
	font-size: 1.8em;
    line-height: 1em;
    /*float: left;
  	margin-right: 10px;
  	font-size: 1.7em;
  	color: white;
  	text-transform: uppercase;
  	letter-spacing: -1px;
  	padding-top: 9px;
  	font-weight: bold;
}*/

h1 {
	font-size: 2.7em;
	line-height: 1.3em;
}

body {
  background-color: #F5F5F1;
}

.navbar-default .navbar-brand {
  font-family: Reeler Personal Use Only, sans-serif;
  font-size: 40px;
  color: #303030;
  &:hover {
    color: #303030;
  }
}

.center {
  text-align:center;
}

.col-md-4:nth-child(3n+1) {
  clear:left;
}

.col-md-4 {
  margin-top: 25px;
}

a:link {
  color:#303030;
}

a:hover {
  color:#303030;
}

.btn-link {
  color:#303030
}

iframe {
	margin:50px 0px 50px 0px;
}

